<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056856930295-p72kmr7tlsllg7635a5ckuqd74nvh17r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056856930295-p72kmr7tlsllg7635a5ckuqd74nvh17r</string>
	<key>API_KEY</key>
	<string>AIzaSyAlyYglZWJ6ezeyM8J6xgnjJchoDzpMT0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1056856930295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiFinalProject</string>
	<key>PROJECT_ID</key>
	<string>iti-final-project-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-final-project-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056856930295:ios:722cbf354a203e3f5fa0f2</string>
</dict>
</plist>